{% extends 'weatherApp/main.html' %}
{% block content %}

<section class="section">
    <div class="header-bar">
        <button class="button is-light">
            <a href="{% url 'home' %}" style="color: #00d1b2">&#8592; Back</a>
        </button>
    </div>
    <div class="content">
        <p>
            <span class="title">{{ city_name }}</span>
        </p>
    </div>
    <div class="columns">
        {% for day in daily_info %}
            <div class="column">
                <div class="box" style="height: 350px;">
                    <article class="media">
                        <div class="media-content">
                            <div class="date-icon" style="height: 80px;"> <b>{{ day.date }}, {{ day.day_of_week }} </b></div>
                            <div class="content">
                                <p>
                                    <figure class="image is-50x50">
                                        <img src="https://openweathermap.org/img/w/{{ day.icon }}.png" alt="Image">
                                    </figure>
                                    <span class="subtitle">Day {{ day.temp_day }} °C</span>
                                    <br> <span class="subtitle">Night {{ day.temp_night }} °C</span>
                                    <br> {{ day.description }}
                                </p>
                            </div>
                        </div>
                    </article>
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="container">
        <div class="fieldBox" style="text-align: center">
            <span class="tag is-warning">Mean daily temperature for a week : {{ mean_week_day_temperature }} °C</span>
            <span class="tag is-link">Mean night temperature for a week: {{ mean_week_night_temperature }} °C</span>
        </div>
    </div>
</section>

{% endblock content %}
